@{
    ViewData["Title"] = "Home Page";
}
@model List<System.Security.Claims.Claim>

<table class="table">
    @if (Model != null)
    {
        @foreach (var item in @Model)
        {
            <tr>
                <td> @item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
    }
</table>
