@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IdentityServer4_Manager.Model.Claim

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="modalTitle">
        Create Claims
    </h4>
</div>
<div id="modal-body" class="modal-body">
    <form class="form-horizontal" action="/user/createClaim">
        <div class="form-group">
            <input type="hidden" id="add_claims_userId" value="@Model.UserId" />
            <label class="col-sm-3 control-label">Claim Type</label>
            <div class="col-sm-9">
                <input asp-for="ClaimType" class="form-control" placeholder="Claim Type" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Claim Value</label>
            <div class="col-sm-9">
                <input asp-for="ClaimValue" class="form-control" placeholder="Claim Value" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btn_create_claim" type="button" class="btn btn-primary btn-loading"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i>&nbsp; Create">
                Create
            </button>
        </div>
    </form>
</div>
<script>
    (function () {
        $.app.setLoadingBtn("#btn_create_claim", function () {
            $.ajax({
                url: '/user/createClaim',
                method: 'GET',
                data: {
                    userId: $("#add_claims_userId").val(),
                    claimType: $("#ClaimType").val(),
                    claimValue: $("#ClaimValue").val()
                },
                success: function (response) {
                    alert(response);
                    $.app.resetLoadingBtn("#btn_create_claim");
                },
                error: function (info, execption) {
                    alert("请求失败 , info:" + info + ",execption:" + execption);
                    $.app.resetLoadingBtn("#btn_create_claim");
                }
            });
        });
    })()
</script>