@model Galaxies.Model.ViewModel.ModifyUser
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.HiddenFor(d => d.UserId)

<br />
<div class="row">
    <div class="input-group col-xs-6 col-xs-offset-2">
        <span class="input-group-addon input-group-addon-width-85">用户名</span>
        <input asp-for="UserName" class="form-control" disabled />
    </div>
</div>
<div class="row">
    <div class="input-group col-xs-6 col-xs-offset-2">
        <span class="input-group-addon input-group-addon-width-85">角色</span>
        <select asp-for="RoleId" asp-items="Model.Roles" class="form-control col-xs-4"></select>
    </div>
</div>
<div class="row">
    <div class="input-group col-xs-6 col-xs-offset-2">
        <span class="input-group-addon input-group-addon-width-85">姓名</span>
        <input asp-for="RealName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="input-group col-xs-6 col-xs-offset-2">
        <span class="input-group-addon input-group-addon-width-85">电子邮件</span>
        <input asp-for="Email" class="form-control" disabled />
    </div>
</div>