@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IList<IdentityServer4_Manager.Model.Claim>

<table id="userClaims" class="table table-bordered">
    <tr>
        <th>Operation</th>
        <th>ClaimType</th>
        <th>ClaimValue</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td><button><i class="fa fa-trash" onclick="removeUserClaim('@item.ClaimType','@item.ClaimValue')"></i></button></td>
                <td>@item.ClaimType</td>
                <td>@item.ClaimValue</td>
            </tr>
        }
    }
</table>